/* .btn {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 10px 15px;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background: #333;
} */

ui-button {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 10px 15px;
    cursor: pointer;
}
ui-button:hover {
    color: #fff;
    background: #333;
}